body{
  /*background-color: green;*/

}



#background{
max-width: 100%;
margin: 2px;
background-color: grey;
  display:block;
  padding: 300px;
}

.backgroundHidden{
display: none;
}

.modal{
  display: none;
}
.showing{
display:block;
background-color:yellow;
border: solid red 2px;
width:300px;
height:200px;
}

/*
#content{
  background: blue;
  padding: 20px;
  border:8px;
}*/
